@using Microsoft.AspNetCore.Identity
@using FKTeplice.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@UserManager.GetUserName(User)<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Nastavení</a>
                </li>
                <li>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">Odhlásit se</a>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"></form>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
