<ul class="nav navbar-nav navbar-left">
    <li class="active"><a href="#">Domů</a></li>
    <li><a href="#">Informace</a></li>
    <li><a href="#">Fitness</a></li>
    <li><a href="#">Medical</a></li>
    <li><a href="#">Trener</a></li>
</ul>