@model IEnumerable<Tuple<string, string, string>>

<ul class="nav navbar-nav navbar-left">
    @foreach (var item in Model)
    {
        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == item.Item2 ? "active" : "")">
            <a asp-controller="@item.Item2" asp-action="@item.Item3">@item.Item1</a>
        </li>
    }
</ul>