@model IEnumerable<Team>

<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            @foreach (var team in Model)
            {
                <li>
                    <a asp-controller="Team" asp-action="Show" asp-route-id="@team.Id">
                        <i class="fa fa-users"></i>
                        <span>@team.Name</span>
                    </a>
                </li>    
            }
        </ul>
    </section>
</aside>