@model IEnumerable<string>

<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            @foreach (var item in Model)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Tým XYZ</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Jméno Příjmení</a></li>
                    </ul>
                </li>    
            }
        </ul>
    </section>
</aside>